<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/product.css" />
  </head>

  <body>
    <%- include('../includes/header') %>

    <main>
      <h1>Cart</h1>
      <% for(const product of cartProducts) { %>
      <h1>Product ID: <%= product.id %></h1>
      <div>Quantity: <%= product.quantity %></div>
      <form action="/cart-delete-product" method="POST">
        <input type="hidden" name="productId" value="<%= product.id %>" />
        <button class="btn">Delete</button>
      </form>
      <% } %>
      <hr />

      <p>Total Price: <%= totalPrice %></p>
    </main>
  </body>

  <%- include('../includes/end') %>
</html>
