<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/product.css" />
  </head>

  <body>
    <%- include('../includes/header') %>

    <h1>Cart</h1>

    <main>
      <main>
        <% for(const product of cartProducts) { %>
        <h1>Product ID: <%= product.id %></h1>
        <% } %>
        <hr />

        <p>Total Price: <%= totalPrice %></p>
      </main>
    </main>
  </body>

  <%- include('../includes/end') %>
</html>
